POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=sday_kenta

APP_NAME=sday_kenta
APP_VERSION=1.0.0
HTTP_PORT=8080
HTTP_USE_PREFORK_MODE=false
LOG_LEVEL=debug
PG_POOL_MAX=2
PG_URL=postgres://postgres:123@db:5432/sday_kenta?sslmode=disable
GEO_ZONE_NAME=samara
GEO_CACHE_RADIUS_METERS=20
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
NOMINATIM_USER_AGENT=sday-kenta/1.0
NOMINATIM_EMAIL=
NOMINATIM_ACCEPT_LANGUAGE=ru
NOMINATIM_COUNTRY_CODES=ru
NOMINATIM_SEARCH_LIMIT=5
NOMINATIM_REVERSE_ZOOM=18
NOMINATIM_TIMEOUT=10s
METRICS_ENABLED=false
SWAGGER_ENABLED=true
